{{ form_start(form_delete_vehiculo,{'attr': {'id':id |default('form') }} ) }}

{{ form_widget(form_delete_vehiculo) }}


{% if with_submit is not defined or with_submit == true %}

    <a type="button" class="btn btn-lg btn-block btn-danger" onclick="confirmDeleteVehiculo()">
        <span class="glyphicon glyphicon-trash"> </span>
        {{ 'Eliminar Vehiculo..' }}
    </a>
{% endif %}


{{ form_end(form_delete_vehiculo) }}

<script>

    var message = '{{ mensaje_eliminacion }}';

    function confirmDeleteVehiculo() {

        bootbox.confirm( message,function(result){
            if(result == true){
                document.form.submit();
            }

        });
    }

</script>